<a id="Feature" class="header-scroll-down-wrapper w-inline-block w--current">
    <div class="header-text">Scroll down</div>
    <div class="header-scroll-line-wrapper">
        <div style="transform: translate3d(0px, 2.54987px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;" class="hover-line"></div>
    </div>
    <div class="header-scroll-icon">
        <div class="line"></div>
    </div>
</a>
<div class="header-hand-image-wrapper top" id="left-hand" style="will-change: transform;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;">
    <!-- <img loading="lazy" src="https://cdn.prod.website-files.com/6891f0681612b211720b762d/68a0409fd9e7cdc52d07fa23_Left%20hand%20Whit.svg" alt="" class="header-hand-image normal" style="will-change: opacity; opacity: 0.678524;"> -->
    <div class="hand-overlay top">
    </div>
</div>
<div class="header-hand-image-wrapper right" id="right-hand" style="will-change: transform;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;">
    <!-- <img loading="lazy" src="https://cdn.prod.website-files.com/6891f0681612b211720b762d/68a040a018a230e5ff545d03_Right%20hand%20Whit.svg" alt="" class="header-hand-image normal" style="will-change: opacity; opacity: 0.678524;"> -->
    <div class="hand-overlay _02">
    </div>
</div>