.hero-section {
  padding: $space-8 $space-6;
  text-align: center;


  .hero-badge {
    display: inline-flex;
    align-items: center;
    gap: $space-3;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba($color-primary, 0.3);
    padding: $space-2 $space-4;
    border-radius: 20px;
    font-size: 0.75rem;
    color: $color-primary;
  }

  .hero-title {
    margin-top: $space-4;
    font-size: 5rem;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: $space-4;

    // keep stroke, but use variable bg color
    -webkit-text-stroke: 2px $color-bg;

    .text-gradient {
      background: linear-gradient(
        90deg,
        $color-primary,
        lighten($color-primary, 10%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .hero-subtitle {
    font-size: 1.2rem;
    color: $color-text;
    max-width: 700px;
    margin: 0 auto 2rem;
    line-height: 1.6;

    strong {
      color: $color-primary;
    }
  }

  .hero-stats {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 3rem;

    .stat-item {
      display: flex;
      gap: $space-2;

      i {
        color: $color-primary;
        padding-top: 0.5rem;
      }

      strong {
        display: block;
        font-size: 1.5rem;
        color: $color-text;
      }

      span {
        color: $color-text;
        font-size: 0.7rem;
      }
    }
  }

  .hero-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;

    .btn-start {
      background-color: $color-primary;
      color: $color-bg;
      padding: 12px 28px;
      border-radius: 8px;
      font-weight: 700;
      font-size: 0.9rem;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: $space-2;
      border: 2px solid $color-primary;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      i {
        font-size: 0.9rem;
      }

      &:hover {
        background-color: lighten($color-primary, 10%);
        border-color: lighten($color-primary, 10%);
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-primary, 0.3);
      }
    }

    .btn-outline {
      background-color: transparent;
      color: $color-text;
      padding: 12px 28px;
      border-radius: 8px;
      font-weight: 500;
      font-size: 0.9rem;
      text-decoration: none;
      border: 1px solid rgba($color-text, 0.2);
      transition: $transition;

      &:hover {
        background-color: rgba($color-text, 0.05);
        border-color: rgba($color-text, 0.5);
        color: $color-primary;
      }
    }
  }
}