.hero-scroll-track {
  height: 500vh; /* This is your animation duration */
  position: relative; /* Necessary for sticky child */
  overflow: clip;
}
#hero {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

#left-hand {
  position: absolute;
  top: 0;      /* Starting Point Top */
  left: 13%;     /* Starting Point Left */
}

#right-hand {
  position: absolute;
  bottom: -23%;   /* Starting Point Bottom */
  right: 10%;    /* Starting Point Right */ 
}

#dashboard-preview {
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  /* Start smaller and tilted for the zoom effect */
  transform: scale(0.5) rotateZ(20deg);
}

.header-hand-image-wrapper {
  position: absolute; 
  pointer-events: none;
  z-index: 20;
  transition: opacity 0.4s ease; 
  will-change: transform, opacity;

  /* REDUCE THESE VALUES */
  width: 40vw;        /* Try 35vw to 40vw for a better balance */
  max-width: 550px;   /* Prevents them from getting too huge on 4K monitors */

  .header-hand-image.normal {
    width: 100%;
    opacity:0.7;
    filter: grayscale(100%) brightness(300%);
  }
}

.hand-overlay {
  display: block;
  position: absolute;
  inset: 0%;
  
  &.top {
    background-image: linear-gradient(124deg, #060c0c 22%, #fff0 38%);
  }
  
  &._02 {
    background-image: linear-gradient(293deg, #060c0c 22%, #fff0 38%);  
  }
}

.hero-content {
  position: relative;
  z-index: 20; 
  text-align: center;
  color: #fff;
  
  h1 { 
    font-size: clamp(2rem, 8vw, 4rem); 
    margin-bottom: 0; 
    margin-left: 7rem;
  }
  
  p { 
    font-size: 1.5rem; 
    opacity: 0; // Starts hidden, fades in via JS
    transform: translateY(20px);
    transition: all 0.6s ease;
  }
}
#dashboard-preview {
  /* Ensure the dashboard is hardware accelerated */
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.header-scroll-down-wrapper {
    z-index: 2;
    grid-column-gap: .625rem;
    grid-row-gap: .625rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    display: flex;
    position: absolute;
    bottom:230px;
    left: 40px;
}
.w-inline-block {
  max-width: 100%;
}

.header-scroll-line-wrapper {
    background-color: var(--black-700);
    width: 1px;
    height: 46px;
    overflow: hidden;
}

.line {
  background-color: $primary;
  width: 1px;
  height: 5px;
}

.hover-line {
  background-color: $primary;
  width: 150px;
  height: 20px;

  box-shadow: 10px 0 10px $primary;
}


.header-text {
  color: $white;
  margin-bottom: 30px;
  font-weight: 500;
  transform: rotate(90deg);
}