<div class="hero-scroll-track">
  {{ partial "header.html" . }}
  <section class="hero glass tilt" id="hero">
    {{ partial "section/hero/header-hands.html" . }}
    <div class="hero-content" style="will-change: opacity, transform;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;">
      <h1>Simplifying complexity</h1>
      <p>enabling your growth</p>
    </div>
    <div id="dashboard-preview" class="dashboard-hidden" style="will-change: transform, opacity;
    transform: translate3d(0px, 0px, 0px) scale3d(0.4, 0.4, 1) rotateX(0deg) rotateY(0deg) rotateZ(24deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 0;">
        <img src="https://c0demine.webflow.io/" alt="Dashboard">
    </div>
    
  </section>
</div>
    <!-- <script src="/scripts/hero-glass.js"></script>
    <script src="/scripts/multi-player-cursors.js"></script> -->
<script src="/scripts/hero-hand-animation.js"></script>
