<header class="site-header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="/brand/kanvas/horizontal/kanvas-horizontal-partial-color.svg" alt="Kanvas Logo" class="logo-img">
      </a>
    </div>

    <nav class="main-nav">
      <ul class="nav-menu">
        <li class="nav-link"><a href="/features">Features</a></li>
        <li class="nav-link"><a href="/demo">Demo</a></li>
        <li class="nav-link"><a href="/work">How It Works</a></li>
        <li class="nav-link"><a href="/capabilities">Capabilities</a></li>
        <li class="nav-link"><a href="/docs">Docs</a></li>
      </ul>
    </nav>

    <div class="nav-button-wrapper hide-tablet">
      <a href="https://kanvas.new" class="button w-inline-block">
        <div class="button-text">Try Kanvas</div>
      </a>
    </div>
  </div>
</header>